In [1]:
import pandas as pd
import numpy as np
import gdelt
import descartes
import geopandas as gpd
import pyodbc
from shapely.geometry import Point, Polygon
%matplotlib inline

In [5]:
# Version 2 queries
gd2 = gdelt.gdelt(version=2)
gkg= gd2.Search(['2015 05 01', '2016 05 01'],table='gkg')

/opt/anaconda3/lib/python3.7/site-packages/gdelt/parallel.py:67: UserWarning: GDELT does not have a url for date time 20150504234500
  warnings.warn(message)
/opt/anaconda3/lib/python3.7/site-packages/gdelt/parallel.py:103: UserWarning: GDELT did not return data for date time 20150504234500
  warnings.warn(message)
/opt/anaconda3/lib/python3.7/site-packages/gdelt/parallel.py:67: UserWarning: GDELT does not have a url for date time 20151021234500
  warnings.warn(message)
/opt/anaconda3/lib/python3.7/site-packages/gdelt/parallel.py:103: UserWarning: GDELT did not return data for date time 20151021234500
  warnings.warn(message)
/opt/anaconda3/lib/python3.7/site-packages/gdelt/parallel.py:67: UserWarning: GDELT does not have a url for date time 20151226234500
  warnings.warn(message)
/opt/anaconda3/lib/python3.7/site-packages/gdelt/parallel.py:103: UserWarning: GDELT did not return data for date time 20151226234500
  warnings.warn(message)
/opt/anaconda3/lib/python3.7/site-packages/gdelt/parallel.py:67: UserWarning: GDELT does not have a url for date time 20160124234500
  warnings.warn(message)
/opt/anaconda3/lib/python3.7/site-packages/gdelt/parallel.py:103: UserWarning: GDELT did not return data for date time 20160124234500
  warnings.warn(message)
/opt/anaconda3/lib/python3.7/site-packages/gdelt/parallel.py:67: UserWarning: GDELT does not have a url for date time 20160408234500
  warnings.warn(message)
/opt/anaconda3/lib/python3.7/site-packages/gdelt/parallel.py:103: UserWarning: GDELT did not return data for date time 20160408234500
  warnings.warn(message)

In [6]:
gkg.head()

,GKGRECORDID,DATE,SourceCollectionIdentifier,SourceCommonName,DocumentIdentifier,Counts,V2Counts,Themes,V2Themes,Locations,...,GCAM,SharingImage,RelatedImages,SocialImageEmbeds,SocialVideoEmbeds,Quotations,AllNames,Amounts,TranslationInfo,Extras
0,20150505234500-0,2.015051e+13,1,modernghana.com,http://www.modernghana.com/news/251414/1/un-pe...,KILL#16#ADF rebels#1#Congo#CF#CF#-1#15#CF;KILL...,KILL#16#ADF rebels#1#Congo#CF#CF#-1#15#CF#963;...,DEMOCRACY;GENERAL_GOVERNMENT;PEACEKEEPING;SECU...,"TAX_TERROR_GROUP_ALLIED_DEMOCRATIC_FORCES,727;...","4#Oicha, Congo, Democratic Republic Of The (Ge...",...,"wc:319,c12.1:12,c12.10:33,c12.12:16,c12.13:4,c...",http://img.modernghana.com/images/content/afp_...,NaN,NaN,NaN,533|55||firmly condemned these attacks against...,"Democratic Republic,122;Martin Kobler,191;Nort...","20,kilometres,698;12,miles,711;16,ADF rebels,7...",NaN,NaN
1,20150505234500-1,2.015051e+13,1,sabc.co.za,http://www.sabc.co.za/news/a/61e50b00484414d39...,NaN,NaN,ENV_OIL;EDUCATION;SOC_POINTSOFINTEREST;SOC_POI...,"GENERAL_GOVERNMENT,507;TAX_FNCACT_ARTIST,762;L...","4#Johannesburg, Gauteng, South Africa#SF#SF06#...",...,"wc:162,c1.1:1,c12.1:13,c12.10:12,c12.12:6,c12....",NaN,NaN,NaN,https://youtube.com/embed/tASYBC_Z4Sg;,NaN,"Nelson Mandela,77;Auckland Park,183;Aziz Pahad...","38,meter long oil painting,9;3,buses parked he...",NaN,NaN
2,20150505234500-2,2.015051e+13,1,wgntv.com,http://wgntv.com/2015/05/05/summer-slowdowns-i...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_EXECUTIVE;TAX_FNCACT_DIR...,"TRAFFIC,1154;TAX_FNCACT_EXECUTIVE_DIRECTOR,369...","2#Illinois, United States#US#USIL#40.3363#-89....",...,"wc:327,c12.1:10,c12.10:28,c12.12:8,c12.13:14,c...",https://tribwgntv.files.wordpress.com/2015/05/...,NaN,NaN,NaN,NaN,"Des Plaines Oasis,64;Illinois Tollway,112;Kris...","2,lanes each way,189;3,lanes each way,258;290,...",NaN,NaN
3,20150505234500-3,2.015051e+13,1,calgaryherald.com,http://calgaryherald.com/life/parenting/parent...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CHILDREN;TAX_FNCACT_GUID...,"TAX_FNCACT_GUIDE,607;TRANSPARENCY,3082;TRANSPA...",NaN,...,"wc:620,c12.1:73,c12.10:79,c12.12:25,c12.13:39,...",http://wpmedia.calgaryherald.com/2015/05/istoc...,NaN,NaN,NaN,213|78||Hurry up! We x2019 ; re going to be la...,"Teenage Brain,623;Survival Guide,659;Raising A...",NaN,NaN,NaN
4,20150505234500-4,2.015051e+13,1,qctimes.com,http://qctimes.com/news/state-and-regional/ill...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CHIEF;TAX_MILITARY_TITLE...,"TAX_FNCACT_CHIEF,88;TAX_FNCACT_CHIEF,684;TAX_F...","2#Illinois, United States#US#USIL#40.3363#-89....",...,"wc:130,c1.2:4,c12.1:5,c12.10:3,c12.12:2,c12.13...",http://sphotos.xx.fbcdn.net/hphotos-ash4/42817...,NaN,NaN,https://youtube.com/user/qctdesk;,NaN,"Bruce Rauner,78;Lee Enterprises,242;Linda Ling...","198,dollars ,107;60,dollars ,248;117,dollars ,...",NaN,NaN

In [8]:
gkg.columns

Index(['GKGRECORDID', 'DATE', 'SourceCollectionIdentifier', 'SourceCommonName',
       'DocumentIdentifier', 'Counts', 'V2Counts', 'Themes', 'V2Themes',
       'Locations', 'V2Locations', 'Persons', 'V2Persons', 'Organizations',
       'V2Organizations', 'V2Tone', 'Dates', 'GCAM', 'SharingImage',
       'RelatedImages', 'SocialImageEmbeds', 'SocialVideoEmbeds', 'Quotations',
       'AllNames', 'Amounts', 'TranslationInfo', 'Extras'],
      dtype='object')

In [9]:
gkg_columns = gkg[["GKGRECORDID","DATE","Counts","V2Counts","Themes","V2Themes","Locations","V2Locations","Persons","V2Persons","Organizations","V2Organizations","V2Tone","Dates","AllNames","Amounts"]]

In [10]:
gkg_columns.head()

,GKGRECORDID,DATE,Counts,V2Counts,Themes,V2Themes,Locations,V2Locations,Persons,V2Persons,Organizations,V2Organizations,V2Tone,Dates,AllNames,Amounts
0,20150505234500-0,2.015051e+13,KILL#16#ADF rebels#1#Congo#CF#CF#-1#15#CF;KILL...,KILL#16#ADF rebels#1#Congo#CF#CF#-1#15#CF#963;...,DEMOCRACY;GENERAL_GOVERNMENT;PEACEKEEPING;SECU...,"TAX_TERROR_GROUP_ALLIED_DEMOCRATIC_FORCES,727;...","4#Oicha, Congo, Democratic Republic Of The (Ge...","4#Oicha, Congo, Democratic Republic Of The (Ge...",martin kobler;amisi kalonda;yoweri museveni,"Martin Kobler,214;Amisi Kalonda,675;Yoweri Mus...",twitter;democratic forces,"Twitter,435;Democratic Forces,727","-9.375,1.5625,10.9375,12.5,18.4375,0,319",4#1#1#0#1822,"Democratic Republic,122;Martin Kobler,191;Nort...","20,kilometres,698;12,miles,711;16,ADF rebels,7..."
1,20150505234500-1,2.015051e+13,NaN,NaN,ENV_OIL;EDUCATION;SOC_POINTSOFINTEREST;SOC_POI...,"GENERAL_GOVERNMENT,507;TAX_FNCACT_ARTIST,762;L...","4#Johannesburg, Gauteng, South Africa#SF#SF06#...","4#Madiba, North-West, South Africa#SF#SF10#773...",nelson mandela;aziz pahad,"Nelson Mandela,73;Aziz Pahad,554",university of johannesburg auckland park campus,NaN,"4.26829268292683,4.8780487804878,0.60975609756...",NaN,"Nelson Mandela,77;Auckland Park,183;Aziz Pahad...","38,meter long oil painting,9;3,buses parked he..."
2,20150505234500-2,2.015051e+13,NaN,NaN,TAX_FNCACT;TAX_FNCACT_EXECUTIVE;TAX_FNCACT_DIR...,"TRAFFIC,1154;TAX_FNCACT_EXECUTIVE_DIRECTOR,369...","2#Illinois, United States#US#USIL#40.3363#-89....","2#Illinois, United States#US#USIL##40.3363#-89...",kristi lafleur,"Kristi Lafleur,384",NaN,NaN,"-0.48661800486618,0.72992700729927,1.216545012...",1#0#0#2014#202;1#0#0#2012#1708,"Des Plaines Oasis,64;Illinois Tollway,112;Kris...","2,lanes each way,189;3,lanes each way,258;290,..."
3,20150505234500-3,2.015051e+13,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CHILDREN;TAX_FNCACT_GUID...,"TAX_FNCACT_GUIDE,607;TRANSPARENCY,3082;TRANSPA...",NaN,NaN,frances jensen;wendy mogel,"Frances Jensen,666;Wendy Mogel,2672",NaN,NaN,"0.291545189504373,2.1865889212828,1.8950437317...",NaN,"Teenage Brain,623;Survival Guide,659;Raising A...",NaN
4,20150505234500-4,2.015051e+13,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CHIEF;TAX_MILITARY_TITLE...,"TAX_FNCACT_CHIEF,88;TAX_FNCACT_CHIEF,684;TAX_F...","2#Illinois, United States#US#USIL#40.3363#-89....","3#Springfield, Illinois, United States#US#USIL...",beth purvis;bruce rauner;linda lingle;catherin...,"Beth Purvis,595;Bruce Rauner,82;Linda Lingle,2...",lee enterprises,"Lee Enterprises,247","2.61437908496732,3.26797385620915,0.6535947712...",NaN,"Bruce Rauner,78;Lee Enterprises,242;Linda Ling...","198,dollars ,107;60,dollars ,248;117,dollars ,..."

In [11]:
gkg_columns.columns

Index(['GKGRECORDID', 'DATE', 'Counts', 'V2Counts', 'Themes', 'V2Themes',
       'Locations', 'V2Locations', 'Persons', 'V2Persons', 'Organizations',
       'V2Organizations', 'V2Tone', 'Dates', 'AllNames', 'Amounts'],
      dtype='object')

In [12]:
gkg.columns
gkg_location = gkg[["GKGRECORDID", "Locations"]]

In [13]:
gkg_location.head()

        GKGRECORDID                                          Locations
0  20150505234500-0  4#Oicha, Congo, Democratic Republic Of The (Ge...
1  20150505234500-1  4#Johannesburg, Gauteng, South Africa#SF#SF06#...
2  20150505234500-2  2#Illinois, United States#US#USIL#40.3363#-89....
3  20150505234500-3                                                NaN
4  20150505234500-4  2#Illinois, United States#US#USIL#40.3363#-89....

In [14]:
gkg_location["Locations"].fillna("####0#0#", inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [15]:
gkg_location.head()

        GKGRECORDID                                          Locations
0  20150505234500-0  4#Oicha, Congo, Democratic Republic Of The (Ge...
1  20150505234500-1  4#Johannesburg, Gauteng, South Africa#SF#SF06#...
2  20150505234500-2  2#Illinois, United States#US#USIL#40.3363#-89....
3  20150505234500-3                                           ####0#0#
4  20150505234500-4  2#Illinois, United States#US#USIL#40.3363#-89....

In [16]:
def pir(df, c):
    colc = df[c].str.split(';')
    clst = colc.values.tolist()
        
    lens = [len(l) for l in clst]

    cdf = pd.DataFrame({c: np.concatenate(clst)}, df.index.repeat(lens))
    return df.drop(c, 1).join(cdf).reset_index(drop=True)

In [17]:
gkg_location = pir(gkg_location, "Locations")

In [18]:
gkg_location.shape

(3386422, 2)

In [19]:
gkg_location.head()

        GKGRECORDID                                          Locations
0  20150505234500-0  4#Oicha, Congo, Democratic Republic Of The (Ge...
1  20150505234500-0                          1#Tanzania#TZ#TZ#-6#35#TZ
2  20150505234500-0                             1#Uganda#UG#UG#1#32#UG
3  20150505234500-0  4#Kinshasa, Kinshasa, Democratic Republic Of T...
4  20150505234500-0  4#Kivu, Kiboga, Uganda#UG#UG42#0.833333#32.183...

In [20]:
gkg_location["Location Type"] = gkg_location["Locations"].apply(lambda x: str(str(x).split(";")[0]).split("#")[0])
gkg_location["Location FullName"] = gkg_location["Locations"].apply(lambda x: str(str(x).split(";")[0]).split("#")[1])
gkg_location["Location CountryCode"] = gkg_location["Locations"].apply(lambda x: str(str(x).split(";")[0]).split("#")[2])
gkg_location["Location ADM1Code"] = gkg_location["Locations"].apply(lambda x: str(str(x).split(";")[0]).split("#")[3])
gkg_location["Location Latitude"] = gkg_location["Locations"].apply(lambda x: str(str(x).split(";")[0]).split("#")[4])
gkg_location["Location Longitude"] = gkg_location["Locations"].apply(lambda x: str(str(x).split(";")[0]).split("#")[5])
gkg_location["Location FeatureID"] = gkg_location["Locations"].apply(lambda x: str(str(x).split(";")[0]).split("#")[6])

In [22]:
gkg_location.head(100)

,GKGRECORDID,Locations,Location Type,Location FullName,Location CountryCode,Location ADM1Code,Location Latitude,Location Longitude,Location FeatureID
0,20150505234500-0,"4#Oicha, Congo, Democratic Republic Of The (Ge...",4,"Oicha, Congo, Democratic Republic Of The (Gene...",CG,CG00,0.7,29.5167,-2044160
1,20150505234500-0,1#Tanzania#TZ#TZ#-6#35#TZ,1,Tanzania,TZ,TZ,-6,35,TZ
2,20150505234500-0,1#Uganda#UG#UG#1#32#UG,1,Uganda,UG,UG,1,32,UG
3,20150505234500-0,"4#Kinshasa, Kinshasa, Democratic Republic Of T...",4,"Kinshasa, Kinshasa, Democratic Republic Of The...",CG,CG06,-4.32972,15.315,-2049111
4,20150505234500-0,"4#Kivu, Kiboga, Uganda#UG#UG42#0.833333#32.183...",4,"Kivu, Kiboga, Uganda",UG,UG42,0.833333,32.1833,-1730511
...,...,...,...,...,...,...,...,...,...
95,20150505234500-19,1#Italy#IT#IT#42.8333#12.8333#IT,1,Italy,IT,IT,42.8333,12.8333,IT
96,20150505234500-19,1#Pakistan#PK#PK#30#70#PK,1,Pakistan,PK,PK,30,70,PK
97,20150505234500-19,1#United Kingdom#UK#UK#54#-2#UK,1,United Kingdom,UK,UK,54,-2,UK
98,20150505234500-20,"2#Maine, United States#US#USME#44.6074#-69.397...",2,"Maine, United States",US,USME,44.6074,-69.3977,ME
99,20150505234500-20,"3#Washington, District Of Columbia, United Sta...",3,"Washington, District Of Columbia, United States",US,USDC,38.8951,-77.0364,531871

# Counts Data

In [27]:
gkg.columns

Index(['GKGRECORDID', 'DATE', 'SourceCollectionIdentifier', 'SourceCommonName',
       'DocumentIdentifier', 'Counts', 'V2Counts', 'Themes', 'V2Themes',
       'Locations', 'V2Locations', 'Persons', 'V2Persons', 'Organizations',
       'V2Organizations', 'V2Tone', 'Dates', 'GCAM', 'SharingImage',
       'RelatedImages', 'SocialImageEmbeds', 'SocialVideoEmbeds', 'Quotations',
       'AllNames', 'Amounts', 'TranslationInfo', 'Extras'],
      dtype='object')

In [28]:
gkg_counts = gkg[["GKGRECORDID", "Counts"]]

In [29]:
gkg_counts.head()

        GKGRECORDID                                             Counts
0  20150505234500-0  KILL#16#ADF rebels#1#Congo#CF#CF#-1#15#CF;KILL...
1  20150505234500-1                                                NaN
2  20150505234500-2                                                NaN
3  20150505234500-3                                                NaN
4  20150505234500-4                                                NaN

In [30]:
gkg_counts["Counts"].fillna("#########", inplace=True)

In [31]:
gkg_counts = pir(gkg_counts, "Counts")

In [32]:
gkg_counts.head(10)

        GKGRECORDID                                             Counts
0  20150505234500-0          KILL#16#ADF rebels#1#Congo#CF#CF#-1#15#CF
1  20150505234500-0             KILL#4#soldiers#1#Congo#CF#CF#-1#15#CF
2  20150505234500-0            KILL#28#soldiers#1#Congo#CF#CF#-1#15#CF
3  20150505234500-0  WOUND#22##4#Oicha, Congo, Democratic Republic ...
4  20150505234500-0                   KILL#260##1#Congo#CF#CF#-1#15#CF
5  20150505234500-0                    KILL#60##1#Congo#CF#CF#-1#15#CF
6  20150505234500-0
7  20150505234500-1                                          #########
8  20150505234500-2                                          #########
9  20150505234500-3                                          #########

In [35]:
gkg_counts.loc[(gkg_counts["Counts"] == ''),'Counts']='#########'

In [36]:
gkg_counts["Count Type"] = gkg_counts["Counts"].apply(lambda x: str(str(x).split(";")[0]).split("#")[0])
gkg_counts["Count"] = gkg_counts["Counts"].apply(lambda x: str(str(x).split(";")[0]).split("#")[1])
gkg_counts["Object Type"] = gkg_counts["Counts"].apply(lambda x: str(str(x).split(";")[0]).split("#")[2])

IndexError: list index out of range

In [38]:
gkg_counts.head(30)

,GKGRECORDID,Counts,Count Type
0,20150505234500-0,KILL#16#ADF rebels#1#Congo#CF#CF#-1#15#CF,KILL
1,20150505234500-0,KILL#4#soldiers#1#Congo#CF#CF#-1#15#CF,KILL
2,20150505234500-0,KILL#28#soldiers#1#Congo#CF#CF#-1#15#CF,KILL
3,20150505234500-0,"WOUND#22##4#Oicha, Congo, Democratic Republic ...",WOUND
4,20150505234500-0,KILL#260##1#Congo#CF#CF#-1#15#CF,KILL
5,20150505234500-0,KILL#60##1#Congo#CF#CF#-1#15#CF,KILL
6,20150505234500-0,#########,
7,20150505234500-1,#########,
8,20150505234500-2,#########,
9,20150505234500-3,#########,
10,20150505234500-4,#########,
11,20150505234500-5,KILL#2#peacekeepers#1#Congo#CF#CF#-1#15#CF,KILL
12,20150505234500-5,WOUND#10##1#Congo#CF#CF#-1#15#CF,WOUND
13,20150505234500-5,#########,
14,20150505234500-6,#########,
15,20150505234500-7,#########,
16,20150505234500-8,#########,
17,20150505234500-9,#########,
18,20150505234500-10,#########,
19,20150505234500-11,#########,
20,20150505234500-12,#########,
21,20150505234500-13,#########,
22,20150505234500-14,#########,
23,20150505234500-15,#########,
24,20150505234500-16,#########,
25,20150505234500-17,#########,
26,20150505234500-18,#########,
27,20150505234500-19,KILL#962##1#Yemen#YM#YM#15#48#YM,KILL
28,20150505234500-19,KILL#2014##1#Yemen#YM#YM#15#48#YM,KILL
29,20150505234500-19,#########,

# Thema Data

In [39]:
gkg.columns

Index(['GKGRECORDID', 'DATE', 'SourceCollectionIdentifier', 'SourceCommonName',
       'DocumentIdentifier', 'Counts', 'V2Counts', 'Themes', 'V2Themes',
       'Locations', 'V2Locations', 'Persons', 'V2Persons', 'Organizations',
       'V2Organizations', 'V2Tone', 'Dates', 'GCAM', 'SharingImage',
       'RelatedImages', 'SocialImageEmbeds', 'SocialVideoEmbeds', 'Quotations',
       'AllNames', 'Amounts', 'TranslationInfo', 'Extras'],
      dtype='object')

In [40]:
gkg_thema = gkg[["GKGRECORDID", "Themes"]]

In [41]:
gkg_thema["Themes"].fillna("", inplace=True)

In [42]:
gkg_thema.iloc[8]

GKGRECORDID                                     20150505234500-8
Themes         TAX_FNCACT;TAX_FNCACT_MAN;SOC_GENERALCRIME;TRA...
Name: 8, dtype: object

In [43]:
gkg_thema = pir(gkg_thema, "Themes")

In [44]:
gkg_thema.shape

(23496362, 2)

# Shapes for each Point in Locations Data

In [45]:
gkg_location.columns

Index(['GKGRECORDID', 'Locations', 'Location Type', 'Location FullName',
       'Location CountryCode', 'Location ADM1Code', 'Location Latitude',
       'Location Longitude', 'Location FeatureID'],
      dtype='object')

In [46]:
gkg_location["Location Longitude"] = gkg_location["Location Longitude"].fillna(0)
gkg_location["Location Latitude"] = gkg_location["Location Latitude"].fillna(0)

In [47]:
gkg_location[['Location Longitude', 'Location Latitude']] = gkg_location[['Location Longitude', 'Location Latitude']].apply(pd.to_numeric)

In [48]:
crs = {'init': 'epsg:4326'}
geometry = [Point(xy) for xy in zip(gkg_location["Location Longitude"], gkg_location["Location Latitude"])]

In [49]:
gkg_location = gpd.GeoDataFrame(gkg_location, crs= crs, geometry = geometry)

/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [50]:
gkg_location.head()

,GKGRECORDID,Locations,Location Type,Location FullName,Location CountryCode,Location ADM1Code,Location Latitude,Location Longitude,Location FeatureID,geometry
0,20150505234500-0,"4#Oicha, Congo, Democratic Republic Of The (Ge...",4,"Oicha, Congo, Democratic Republic Of The (Gene...",CG,CG00,0.700000,29.5167,-2044160,POINT (29.51670 0.70000)
1,20150505234500-0,1#Tanzania#TZ#TZ#-6#35#TZ,1,Tanzania,TZ,TZ,-6.000000,35.0000,TZ,POINT (35.00000 -6.00000)
2,20150505234500-0,1#Uganda#UG#UG#1#32#UG,1,Uganda,UG,UG,1.000000,32.0000,UG,POINT (32.00000 1.00000)
3,20150505234500-0,"4#Kinshasa, Kinshasa, Democratic Republic Of T...",4,"Kinshasa, Kinshasa, Democratic Republic Of The...",CG,CG06,-4.329720,15.3150,-2049111,POINT (15.31500 -4.32972)
4,20150505234500-0,"4#Kivu, Kiboga, Uganda#UG#UG42#0.833333#32.183...",4,"Kivu, Kiboga, Uganda",UG,UG42,0.833333,32.1833,-1730511,POINT (32.18330 0.83333)

In [51]:
gkg_location.shape

(3386422, 10)

In [52]:
gkg_location[gkg_location["Location Latitude"].isna()]

/opt/anaconda3/lib/python3.7/site-packages/geopandas/array.py:689: RuntimeWarning: All-NaN slice encountered
  np.nanmin(b[:, 0]),  # minx
/opt/anaconda3/lib/python3.7/site-packages/geopandas/array.py:690: RuntimeWarning: All-NaN slice encountered
  np.nanmin(b[:, 1]),  # miny
/opt/anaconda3/lib/python3.7/site-packages/geopandas/array.py:691: RuntimeWarning: All-NaN slice encountered
  np.nanmax(b[:, 2]),  # maxx
/opt/anaconda3/lib/python3.7/site-packages/geopandas/array.py:692: RuntimeWarning: All-NaN slice encountered
  np.nanmax(b[:, 3]),  # maxy

,GKGRECORDID,Locations,Location Type,Location FullName,Location CountryCode,Location ADM1Code,Location Latitude,Location Longitude,Location FeatureID,geometry
18091,20150503234500-674,1##RB#RB###RB,1,,RB,RB,NaN,NaN,RB,POINT (nan nan)
30503,20150501234500-2323,1##RB#RB###RB,1,,RB,RB,NaN,NaN,RB,POINT (nan nan)
33141,20150508234500-700,1##RB#RB###RB,1,,RB,RB,NaN,NaN,RB,POINT (nan nan)
35245,20150508234500-1330,1##RB#RB###RB,1,,RB,RB,NaN,NaN,RB,POINT (nan nan)
50424,20150510234500-294,1##RB#RB###RB,1,,RB,RB,NaN,NaN,RB,POINT (nan nan)
...,...,...,...,...,...,...,...,...,...,...
3372717,20160427234500-645,1##RB#RB###RB,1,,RB,RB,NaN,NaN,RB,POINT (nan nan)
3374572,20160427234500-1165,1##RB#RB###RB,1,,RB,RB,NaN,NaN,RB,POINT (nan nan)
3378309,20160427234500-2322,1##RB#RB###RB,1,,RB,RB,NaN,NaN,RB,POINT (nan nan)
3379475,20160427234500-2687,1##RB#RB###RB,1,,RB,RB,NaN,NaN,RB,POINT (nan nan)
3383657,20160427234500-1006,1##RB#RB###RB,1,,RB,RB,NaN,NaN,RB,POINT (nan nan)

In [53]:
gkg_with_point_location = gkg_location[gkg_location['Location Latitude'].notna()]

In [54]:
gkg_with_point_location.shape

(3385020, 10)

In [55]:
gkg_location.shape

(3386422, 10)